dist
node_modules
.idea
package-lock.json
out
export
*.js
*.d.ts
dev.patch
.scannerwork
certs
update.key
docs
.env
coverage
data
junit.xml
/sonar-project.properties
openapi.yaml
/openapi.yml
!jest.config.js
*.tgz
*.iml
