.gitlab-ci.yml
.eslintrc
node_modules
docs
.idea
.env
docker-compose.yml
jest.config.js
package-lock.json
data
src
tests
scripts
glconf.json
site
.eslintignore
.env.example
tsconfig.json
.scannerwork
sonar-project.properties
coverage
*.tgz
*.iml
.ncurc.json
.npmrc
junit.xml
.github
